<!DOCTYPE html>
<html lang="th">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Course</title>
  <link href="https://fonts.googleapis.com/css?family=Kanit:400,700&amp;subset=thai" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/common.css">
  <link rel="stylesheet" href="/static/css/course.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css">
</head>

<body>
  <div class="wrapper">
    <%- include('nav_bar', { location: 'course' }) %>

    <div class="header-bar">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h1>Course</h1>
            <p>รายละเอียดแต่ละวิชา</p>
          </div>
        </div>
      </div>
    </div>


  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="search-box">
          <h3>Search</h3>
          <form method="GET" action="">
            <div class="form-group">
                <label for="course_id">Course ID</label>
                <input type="text" class="form-control" id="course_id" name="cid" placeholder="e.g. 2110433">
                <label for="course_name">Course Name</label>
                <input type="text" class="form-control" id="course_name" name="cname" placeholder="e.g. DB MGT ANALYSIS DESIGN">
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
          </form>
        </div>
        <h3>Course List</h3>
        <div class="list-group">
          <a href="#" class="list-group-item active">2110422 DB MGT SYS DESIGN</a>
          <a href="#" class="list-group-item">2110332	SYS ANALYSIS DSGN</a>
          <a href="#" class="list-group-item">2110318 DIS SYS ESSEN</a>
          <a href="#" class="list-group-item">2110352	COMP SYS ARCH</a>
          <a href="#" class="list-group-item">2110355	FORM LANG/AUTO</a>
          <a href="#" class="list-group-item">2110422 DB MGT SYS DESIGN</a>
          <a href="#" class="list-group-item">2110332	SYS ANALYSIS DSGN</a>
          <a href="#" class="list-group-item">2110318 DIS SYS ESSEN</a>
          <a href="#" class="list-group-item">2110352	COMP SYS ARCH</a>
          <a href="#" class="list-group-item">2110355	FORM LANG/AUTO</a>
          <a href="#" class="list-group-item">2110422 DB MGT SYS DESIGN</a>
          <a href="#" class="list-group-item">2110332	SYS ANALYSIS DSGN</a>
          <a href="#" class="list-group-item">2110318 DIS SYS ESSEN</a>
          <a href="#" class="list-group-item">2110352	COMP SYS ARCH</a>
          <a href="#" class="list-group-item">2110355	FORM LANG/AUTO</a>
        </div>
      </div>
      <div class="col-md-8">
        <div class="col-xs-12">
          <h1>2110422 DB MGT SYS DESIGN</h1>
          <hr>
          <table class="table table-bordered">
              <tbody>
                <tr>
                  <td class="course_title col-md-2"><b>วิชา</b></td>
                  <td class="course_detail">DATABASE MANAGEMENT SYSTEM DESIGN</td>
                </tr>
                <tr>
                  <td class="course_title col-md-2"><b>วิชา (ไทย)</b></td>
                  <td class="course_detail">การออกแบบระบบการจัดการฐานข้อมูล</td>
                </tr>
                <tr>
                  <td class="course_title"><b>สังกัด</b></td>
                  <td class="course_detail">คณะวิศวกรรมศาสตร์ (ภาควิชาวิศวกรรมคอมพิวเตอร์)</td>
                </tr>
                <tr>
                  <td class="course_title"><b>ผู้สอน</b></td>
                  <td class="course_detail">ผศ. ดร. โปรดปราน บุณยพุกกณะ</td>
                </tr>
                <tr>
                  <td class="course_title"><b>หน่วยกิต</b></td>
                  <td class="course_detail">3 (3-0-9)</td>
                </tr>
                <tr>
                  <td class="course_title"><b>วิชาที่ต้องเรียนมาก่อน</b></td>
                  <td class="course_detail">2110200, 2110211</td>
                </tr>
                <tr>
                  <td class="course_title"><b>รายละเอียดวิชา</b></td>
                  <td class="course_detail">วิวัฒนาการของระบบฐานข้อมูล องค์ประกอบของระบบฐานข้อมูล สถาปัตยกรรมแบบ ทรี-
สคีมา ความเป็นอิสระของข้อมูล การออกแบบฟังก์ชันหลักของดีบีเอ็มเอส โมเดลข้อมูลเชิงมโน
ทัศน์เอนทิตี-รีเลชันชิปโมเดล แผนภาพคลาสของยูเอ็มแอล โมเดลข้อมูลเชิงสัมพันธ์เงื่อนไขเชิง
สัมพันธ์พีชคณิต และแคลคูลลัสเชิงสัมพันธ์การแม็พสคีมาเชิงมโนทัศน์ไปเป็นสคีมาเชิงสัมพันธ์
ฟังก์ชันนัลดีเพ็นเด็นซีนอร์มัลไลเซชัน การปรับฐานข้อมูล การใช้ภาษา แนวโน้มใหม่ในระบบ
ฐานข้อมูล</td>
                </tr>
              </tbody>
          </table>
          <h4>เกรดของนิสิตที่เคยลงทะเบียนเรียน</h4>
          <canvas id="myChart" width="400" height="200"></canvas>
        </div>
      </div>
    </div>
  </div>
  </div>
  <%- include('footer') %>
    <script src="/static/js/common.js"></script>
    <script src="/static/js/course.js"></script>
    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js" charset="utf-8"></script>
    <script src="https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js" charset="utf-8"></script>
</body>
</html>
