<!DOCTYPE html>
<html lang="th">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Enrollment</title>
  <link href="https://fonts.googleapis.com/css?family=Kanit:400,700&amp;subset=thai" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/common.css">
  <link rel="stylesheet" href="/static/css/enroll.css">
</head>

<body>
  <div class="wrapper">
    <%- include('nav_bar', { location: 'manager-board' }) %>

    <div class="header-bar">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h1>Enrollment</h1>
            <p>ประวัติการลงทะเบียน</p>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">ปี 1 เทอม 1</a></li>
            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">ปี 1 เทอม 2</a></li>
            <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">ปี 2 เทอม 1</a></li>
            <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">ปี 2 เทอม 2</a></li>
          </ul>
          <table class="table table-condensed table-hover table-striped">
            <thead class="thead-inverse">
              <tr>
                <th>Course No.</th>
                <th>Course Title</th>
                <th>Credit</th>
                <th>Grade</th>
              </tr>
            </thead>
            <tbody class="grade_table">
            </tbody>
          </table>
          <table class="table">
            <thead class="thead-inverse">
              <tr>
                <th>CA</th>
                <th>CG</th>
                <th>GPA</th>
                <th>CAX</th>
                <th>CGX</th>
                <th>GPAX</th>
                <th>GPX</th>
              </tr>
            </thead>
            <tbody class="sum_grade_table">
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <%- include('footer') %>

  <script src="/static/js/common.js"></script>
  <script src="/static/js/enroll.js"></script>
</body>

</html>