<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="https://fonts.googleapis.com/css?family=Kanit:400,700&amp;subset=thai" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/common.css"></head>
    <link rel="stylesheet" href="/static/css/enroll.css"></head>
  <body>
    <div class="container">
      <div class="row">
        <h1>Enrollment</h1>

        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">ปี 1 เทอม 1</a></li>
          <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">ปี 1 เทอม 2</a></li>
          <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">ปี 2 เทอม 1</a></li>
          <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">ปี 2 เทอม 2</a></li>
        </ul>
        <table class="table table-condensed table-hover table-striped">
            <thead class="thead-inverse">
                <tr>
                    <th>Course No.</th>
                    <th>Course Title</th>
                    <th>Credit</th>
                    <th>Grade</th>
                </tr>
            </thead>
            <tbody class="grade_table">
                <tr>
                    <td>2110313</td>
                    <td>OS SYS PROG</td>
                    <td>3</td>
                    <td>B+ </td>
                </tr>
                <tr>
                    <td>2110316</td>
                    <td>PROG LANG PRIN</td>
                    <td>3</td>
                    <td>A </td>
                </tr>
                <tr>
                    <td>2110327</td>
                    <td>ALGORITHM DESIGN</td>
                    <td>3</td>
                    <td>A </td>
                </tr>
                <tr>
                    <td>2110352</td>
                    <td>COMP SYS ARCH</td>
                    <td>3</td>
                    <td>A </td>
                </tr>
                <tr>
                    <td>2110363</td>
                    <td>HW SYN LAB I</td>
                    <td>1</td>
                    <td>A</td>
                </tr>
                <tr>
                    <td>2110391</td>
                    <td>INDIV COMP III</td>
                    <td>1</td>
                    <td>A </td>
                </tr>
                <tr>
                    <td>2110482</td>
                    <td>HIGH TECH ENT</td>
                    <td>3</td>
                    <td>B+ </td>
                </tr>
                <tr>
                    <td>2200226</td>
                    <td>FOLK MUS TH SOC</td>
                    <td>3</td>
                    <td>A </td>
                </tr>
            </tbody>
          </table>
                <table class="table">
            <thead class="thead-inverse">
                <tr>
                    <th>CA</th>
                    <th>CG</th>
                    <th>GPA</th>
                    <th>CAX</th>
                    <th>CGX</th>
                    <th>GPAX</th>
                    <th>GPX</th>
                </tr>
            </thead>
            <tbody class="sum_grade_table">
                <tr>
                    <td>20</td>
                    <td>20</td>
                    <td>3.85</td>
                    <td>94</td>
                    <td>94</td>
                    <td>3.67</td>
                    <td>345.00</td>
                </tr>
            </tbody>
        </table>
      </div>
    </div>

      <script src="/static/js/common.js"></script>
      <script src="/static/js/enroll.js"></script>
  </body>
</html>
