<!DOCTYPE html>
<html lang="th">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Homepage</title>
  <link href="https://fonts.googleapis.com/css?family=Kanit:400,700&amp;subset=thai" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/common.css">
</head>

<body>
  <div class="wrapper">
    <%- include('nav-bar', { location: 'homepage' }) %>

    <div class="header-bar">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h1>Homepage</h1>
            <p>ยินดีต้อนรับสู่หน้าแรกของ DBProject!</p>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div>
            Here is a love and smile!
            <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
            <i class="fa fa-smile-o" aria-hidden="true"></i>
          </div>

          <h2>Explore</h2>
          <a href="./student-info">Go to student info page.</a>
        </div>
      </div>
    </div>
  </div>

  <%- include('footer') %>

  <script src="/static/js/common.js"></script>
  <script src="/static/js/homepage.js"></script>
</body>

</html>