<div class="col-md-12 info_tab">
  <ul class="nav nav-pills nav-justified" role="tablist">
    <% if (info === 'information') { %>
    <li role="presentation" class="active"><a href="/student-info/full" >Information</a></li>
    <% } else { %>
    <li><a href="/student-info/full">Information</a></li>
    <% } %>

    <% if (info === 'enroll') { %>
    <li role="presentation" class="active"><a href="/enroll">Enrollment</a></li>
    <% } else { %>
    <li role="presentation"><a href="/enroll">Enrollment</a></li>
    <% } %>

    <% if (info === 'activity') { %>
    <li role="presentation" class="active"><a href="/activity?isStudent=true&sid=5730000021&aid=">Activity</a></li>
    <% } else { %>
    <li role="presentation"><a href="/activity?isStudent=true&sid=5730000021&aid=">Activity</a></li>
    <% } %>

    <% if (info === 'studying-analysis') { %>
    <li role="presentation" class="active"><a href="/student-info/studying-analysis">Studying Analysis</a></li>
    <% } else { %>
    <li role="presentation"><a href="/student-info/studying-analysis">Studying Analysis</a></li>
    <% } %>
      
      
  </ul>
</div>
<div class="col-xs-12">
  <table class="table">
    <thead>
      <tr>
        <th>รหัสประจำตัวนิสิต</th>
        <th>ชื่อ</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>5730108121</td>
        <td>นายชนาธิป แซ่เตีย</td>
      </tr>
    </tbody>
  </table>
</div>
