<!DOCTYPE html>
<html lang="th">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Student Info</title>
  <link href="https://fonts.googleapis.com/css?family=Kanit:400,700&amp;subset=thai" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/common.css">
  <link rel="stylesheet" href="/static/css/manager_board.css">
</head>

<body>
  <div class="wrapper">
    <%- include('nav-bar', { location: 'manager-board' }) %>

    <div class="header-bar">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h1>Manager Board</h1>
            <p>บอร์ดสำหรับผู้บริหาร</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-8">
    <p>Date: <samp><%= serverTime %></samp>.</p>
  </div>

<div class="container">
<!-- Overall Stat -->
<div class="row">

</div>

<!-- Graph -->

    <div class="row">
      <div class="col-xs-12 col-md-8">
        <h4>เกรดของนิสิตแต่ละชั้นปี</h4>
    <script src="static/js/Chart.js"></script>
        <canvas id="myChart" width="400" height="230"></canvas>
          <script>
          var ctx = document.getElementById("myChart");
          var myChart = new Chart(ctx, {
              type: 'bar',
              data: {
                  labels: ["ปี1", "ปี2", "ปี3", "ปี4"],
                  datasets: [{
                      label: 'Average grade',
                      data: [2.67,2.8,3.21,3.3],
                      backgroundColor: [
                          'rgba(255, 99, 132, 0.2)',
                          'rgba(54, 162, 235, 0.2)',
                          'rgba(255, 206, 86, 0.2)',
                          'rgba(75, 192, 192, 0.2)',
                          'rgba(153, 102, 255, 0.2)',
                          'rgba(255, 159, 64, 0.2)'
                      ],
                      borderColor: [
                          'rgba(255,99,132,1)',
                          'rgba(54, 162, 235, 1)',
                          'rgba(255, 206, 86, 1)',
                          'rgba(75, 192, 192, 1)',
                          'rgba(153, 102, 255, 1)',
                          'rgba(255, 159, 64, 1)'
                      ],
                      borderWidth: 1
                  }]
              },
              options: {
                  scales: {
                      yAxes: [{
                          ticks: {
                              beginAtZero:true
                          }
                      }]
                  }
              }
          });
          </script>
      </div>
      <div class="col-xs-12 col-md-4">
        <!-- Student Number -->
        <!-- data: [<%=studentNum %>] -->
        <div class="row">
                <div class="x_panel tile">
                  <div class="x_content">
                    <h4>จำนวนนิสิตแต่ละชั้นปี</h4>
                    <div class="widget_summary">
                      <div class="w_left w_25">
                        <span>ปี1</span>
                      </div>
                      <div class="w_center w_55">
                        <div class="progress">
                          <div class="progress-bar progress-bar-info" role="progressbar" data-transitiongoal="70" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 80% ;">
                          </div>
                        </div>
                      </div>
                      <div class="w_right w_20">
                        <span>905</span>
                      </div>
                      <div class="clearfix"></div>
                    </div>

                    <div class="widget_summary">
                      <div class="w_left w_25">
                        <span>ปี2</span>
                      </div>
                      <div class="w_center w_55">
                        <div class="progress">
                          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                          </div>
                        </div>
                      </div>
                      <div class="w_right w_20">
                        <span>1105</span>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                    <div class="widget_summary">
                      <div class="w_left w_25">
                        <span>ปี3</span>
                      </div>
                      <div class="w_center w_55">
                        <div class="progress">
                          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
                          </div>
                        </div>
                      </div>
                      <div class="w_right w_20">
                        <span>721</span>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                    <div class="widget_summary">
                      <div class="w_left w_25">
                        <span>ปี4</span>
                      </div>
                      <div class="w_center w_55">
                        <div class="progress">
                          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
                          </div>
                        </div>
                      </div>
                      <div class="w_right w_20">
                        <span>721</span>
                      </div>
                      <div class="clearfix"></div>
                    </div>

                  </div>
                </div>
            </div>
            <!-- Not Graduated Student Number -->
            <div class="row">
              <h4>จำนวนนิสิตที่ไม่จบตามแผนการศึกษา</h4>
              <script src="static/js/Chart.js"></script>
                  <canvas id="notGraduatedChart" width="350" height="200"></canvas>
                    <script>
                    var ctx = document.getElementById("notGraduatedChart");
                    var data = {
                        labels: [
                            "คอมพิวเตอร์",
                            "ไฟฟ้า",
                            "เครื่องกล"
                        ],
                        datasets: [
                            {
                                data: [300, 50, 100],
                                backgroundColor: [
                                    "#FF6384",
                                    "#36A2EB",
                                    "#FFCE56"
                                ],
                                hoverBackgroundColor: [
                                    "#FF6384",
                                    "#36A2EB",
                                    "#FFCE56"
                                ]
                            }]
                    };
                    var myDoughnutChart = new Chart(ctx, {
                      type: 'doughnut',
                      data: data,
                      options: {
                        animation:{
                            animateScale:true
                        }
                    }
                  });
              </script>
          </div>
      </div>
    </div>
    <div class="row">

    </div>
    <script src="/static/js/common.js"></script>
</body>

</html>
