<div class="col-xs-12 col-md-4">
  <div class="search-box">
    <h3>Search</h3>
    <form method="GET" action="/student-info">
      <div class="form-group">
        <label for="student_id">Student ID</label>
        <input type="text" class="form-control" id="student_id" name="sid" placeholder="e.g. 5733333333">
        <label for="student_first_name">First Name</label>
        <input type="text" class="form-control" id="student_first_name" name="sfname" placeholder="e.g. John">
        <label for="student_last_name">Last Name</label>
        <input type="text" class="form-control" id="student_last_name" name="slname" placeholder="e.g. Cena">  

        <div class="row">
          <div class="col-sm-4">
            <label for="student_year">Year<br></label>
            <input type="text" class="form-control" id="student_year" name="student_year" placeholder="e.g. 6">  
          </div>
          
          <div class="col-sm-8">
            <label for="behav_score">Behavior Score</label>

          <div class="row">
            <div class="col-sm-5">
              <select class="form-control" id="score_constrain" name="score_constrain">
                <option value=""></option>
                <option value=">">></option>
                <option value="<"><</option>
                <option value="=">=</option>
              </select>
            </div>

            <div class="col-sm-7">
              <input type="text" class="form-control" id="behav_score" name="behav_score" placeholder="e.g. 100">
            </div>
          </div>

          </div>
        </div>

        <label for="mid">Major ID</label>
        <input type="text" class="form-control" id="mid" name="mid" placeholder="e.g. 00000000001"> 

        <label for="address_en">Address</label>
        <input type="text" class="form-control" id="address_en" name="address_en" placeholder="e.g. WWE"> 

      </div>
      <button type="submit" class="btn btn-primary">Search</button>
    </form>
  </div>
</div>