@import 'basis';

.header-bar {
  background: $color-slate;
  padding: 10px 0 30px;
  h1 {
    font-size: 50px;
    margin-bottom: 0;
  }
  p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
  }
  margin-top: 40px;
  margin-bottom: 40px;
  
  &.danger {
    background: $color-brick;
    color: #FFF;
  }
}
